<!DOCTYPE html>
<html>
  
<head>
    <title>LVZ-4-3</title>
</head>
  
<body>
    <form action="/" method="post">
        <input placeholder="URL" name="inputUrl">
        <button type="submit">Submit</button>
    </form>
</body>
  
</html>